[2013-12-28 09:45] krasserm opened #1 "Row splitting"
See https://twitter.com/mighdoll/status/416742501630758913

[2013-12-28 09:45] krasserm opened #2 "Compact storage"
See https://twitter.com/mighdoll/status/416742501630758913

[2014-01-03 10:27] #1 closed, assigned to nobody

[2014-01-03 12:31] krasserm opened #3 "Improve replay throughput"
Considerations:
- available fetching strategies

Alternatives:
- parallel queries (inside and/or across partitions)
- load concurrently up to n messages into memory then send them to processors

[2014-01-03 15:42] #3 closed, assigned to nobody

[2014-01-03 18:39] krasserm opened #4 "Recovery optimization for persistent channels"
Durable queues on top of Cassandra are known as [anti-pattern](http://www.datastax.com/dev/blog/cassandra-anti-patterns-queues-and-queue-like-datasets). The issues related to reading a large number of tombstones can be addressed by introducing optimizations on [persistent channel](http://doc.akka.io/docs/akka/2.3-M2/scala/persistence.html#persistent-channels) level and on journal level.

Possible

[2014-01-04 08:55] #2 closed, assigned to nobody

[2014-02-10 13:04] krasserm opened #5 "Parallel queries during replay"

[2014-04-24 14:09] agourlay opened #6 "Build against Scala 2.11"
Would be nice to have a release against Scala 2.11 :-)

[2014-04-25 16:35] #6 closed, assigned to nobody

[2014-05-07 10:51] benoitheinrich opened #7 "Enhancement to support snapshot-store using cassandra"
Hi Martin,

I'm currently using the akka-persistence-cassandra for one of my project and so far it works really great, but I was wondering if it would be possible to add a snapshot-store functionality for the cassandra driver so that we can rely just on one plugin.

Right now when using cassandra as the journal plugin, I still have to use some other plugins to have distributed snapshot store.

Do

[2014-05-12 07:37] #7 closed, assigned to nobody

[2014-06-04 22:24] fooblahblah opened #8 "StringIndexOutOfBoundsException on recovery"
I just started trying to use the Cassandra journal here after having done some initial dev work using the LevelDB journal. During a recovery (after restarting my service) I get the following exception.  I noticed the code at the exception poing uses a substring index of 2, but in the Cassandra data the marker field seems to have a single character...

I'm using Scala-2.10.4 and Akka-2.3.3 (But I t

[2014-06-06 06:10] #8 closed, assigned to nobody

[2014-06-17 00:43] gmalouf opened #10 "Feature Request: Support authentication against a Cassandra cluster"
Example use case: an existing Cassandra 2.x cluster has authentication enabled thus requiring the akka-persistence-cassandra store to support this to have our keyspaces there.

[2014-06-19 13:00] #10 closed, assigned to nobody

[2014-06-20 04:40] He-Pin opened #13 "how to clean up?"
how to clean up all the messages?

[2014-06-20 05:35] #13 closed, assigned to nobody

[2014-07-01 07:16] #4 closed, assigned to nobody

[2014-07-15 10:21] pwilby opened #15 "Journal write consistency level being ignored"
# Problem Overview

Not sure what the problem is, but it feels like the `cassandra-journal` `write-consistency` configuration option specified in application.conf is being ignored and a default consistency level of ONE is being used instead.  No matter what `cassandra-journal` `write-consistency` setting is specified, if just one Cassandra node is available then journal writes will succeed.  Howev

[2014-07-19 06:08] #15 closed, assigned to nobody

[2014-07-31 11:44] krasserm opened #16 "Start embedded Cassandra in tests"

[2014-07-31 15:16] #16 closed, assigned to nobody

[2014-08-01 09:07] krasserm opened #17 "Travis CI setup"

[2014-08-01 09:09] #17 closed, assigned to krasserm

[2014-08-20 04:36] ratika19 opened #18 "Providing support with lower Cassandra versions 1.2.x"
Hi Martin,

We intend to use this plugin for our newly built akka-esper CEP component for our product which uses lower version of Cassandra 1.2.x. At the moment we cannot switch to higher version as the product is already live and deployed across multiple retailers. To use your plugin with lower version cassandra we downloaded the akka-persistence-cassandra code and did the below listed changes,
1

[2014-09-05 13:13] michaeldiamant opened #21 "Future returned by asyncReplayMessages fails to complete"
This issue stems from a [post] (https://groups.google.com/forum/#!topic/akka-user/-rHUnpkU8Ro) on the akka mailing list where it appears that the akka-persistence-cassandra journal fails to return a response to a View when reading messages from Cassandra.  Unfortunately, I am unable (so far) to reproduce the issue.  The pertinent details about my environment/setup are in the linked mailing list po

[2014-09-12 14:31] GADV opened #23 "PersistenActor not receiving events."
I have tried to use this plugin, but I am experiencing a problem. When I started my application I could see that the akka.messages table was created in Cassandra. The problem is that the PersistentActor is not receiving any event at all. Even with a simple PersistentActor like this:

class SimplePersistentActor extends PersistentActor {
  override def persistenceId = "simple-id-one"

  var state:

[2014-09-14 11:48] #23 closed, assigned to nobody

[2014-09-24 06:41] matlockx opened #24 "Update Cassandra driver to version 2.1"
Hi,

is it possible to create a new 0.3.4 release with the updated cassandra driver dependency? With the current version I get lots of 'c.d.d.c.TableMetadata - Error parsing schema options for table' errors with cassandra 2.1.0 which is gone by using the driver 2.1.1 or as you have here 2.0.5. I can override the driver dependency in my project but having it here would be better also for other peop

[2014-09-25 03:59] krasserm opened #26 "Upgrade to Akka 2.3.6"

[2014-09-28 13:04] krasserm opened #29 "Fix OOM errors on Travis"

[2014-09-28 13:10] #24 closed, assigned to nobody

[2014-09-28 13:15] #18 closed, assigned to nobody

[2014-09-28 14:12] #26 closed, assigned to krasserm

[2014-10-02 08:22] #29 closed, assigned to nobody

[2014-11-03 14:35] pnieuwenhuis opened #32 "Not possible to use 'NetworkTopologyStrategy' as replication strategy for created keyspaces"
When the keyspaces for the akka journal and akka snapshots are created, they are created with the SimpleStrategy replication strategy as hard-coded setting. It should be great to also have the possibility to let the plug-in create the keyspaces with the NetworkTopologyStrategy and specify the number of replicas per data center. Example CQL (as taken for Cassandra documentation):

CREATE KEYSPACE "

[2014-12-02 11:36] jahangirmohammed opened #33 "Warning: Batch of prepared statements exceeding threshold"
Hello Martin,

I see these warnings in cassandra logs when trying this out-
Batch of prepared statements for [akka.messages] is of size 5331, exceeding specified threshold of 5120 by 211.

This looks more of a concern from cassandra side than this plugin itself. But, wanted to check anyway.

Thanks in advance.

[2014-12-03 07:42] matlockx opened #34 "Contact Points with ports"
Currently there is only the possibility to use the same port for all contact points. For cluster testing (for example with docker) it would be great to use different ports for each contact point. What do you think? Should I provide a pr?

[2014-12-04 07:50] #33 closed, assigned to nobody

[2014-12-04 08:36] #34 closed, assigned to nobody

[2014-12-08 06:25] matlockx opened #37 "Add integration test for NetworkTopologyStrategy"
Since it is possible to use NetworkTopologyStrategy as a replication strategy, an integration test should be added to test the behaviour.

[2014-12-17 14:02] #32 closed, assigned to nobody

[2014-12-23 08:11] #37 closed, assigned to nobody

[2015-02-16 13:51] sebastiaansamyn-tc opened #40 "Deleting messages quickly creates cassandra thombstone issues"
We ran into an issue with an actor that stores many events per minute and periodically cleans up the created events.

At a given point the queries to cassandra start falling over, because every delete creates a thombstone and once cassandra reads 100000 thombstones for a query it'll fail the query. One solution would be to define a gc_grace_seconds that's shorter than 10 days on the messages table

[2015-02-16 16:07] krasserm commented on #40
@sebastiaansamyn-tc would you be interested to create a pull request with the additions you'd like to have in? Cheers, Martin

[2015-02-17 08:01] sebastiaansamyn-tc commented on #40
Just did: https://github.com/krasserm/akka-persistence-cassandra/pull/41

[2015-02-19 05:46] analytically opened #42 "Upgrade to cassandra-driver-core 2.1.4"

[2015-02-19 07:50] krasserm commented on #42
@analytically would you mind making a pull request?

[2015-02-22 22:22] analytically opened #43 "Migration strategy?"
Document possible migration strategies from plain file-based akka-persistence journals/snapshots.

[2015-02-23 04:47] krasserm commented on #42
Closed with #44.

[2015-02-23 04:47] #42 closed

[2015-03-14 18:37] boatswain commented on #40
Thank you sebastiaansamyn-tc! I also meet this problem, and found the version of 0.3.6 is still have this problem.

[2015-03-15 15:29] krasserm commented on #40
@boatswain @sebastiaansamyn-tc sorry for the delay, I'll cut a release within the next days.

[2015-03-21 05:20] #40 closed

[2015-03-23 11:56] twisniewski opened #45 "CassandraJournal constructor fails on creating keyspace"
We have keyspace created in cassandra by admins and our cassandra user does not have permission to create new keyspaces. Therefore `session.execute(createKeyspace)` line fails with UnauthorizedException.

Possible sollution is to wrap `session.execute(createKeyspace)` with check if keyspace already exists on cluster.

Should we provide PR?

[2015-03-23 17:49] krasserm commented on #45
I thought [CREATE KEYSPACE IF NOT EXISTS](https://github.com/krasserm/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/journal/CassandraStatements.scala#L7) already covers that. Have you tried setting `cassandra-journal.keyspace` to the name of the existing keyspace?

If this doesn't work, please create a pull request. Instead of catching an exception, what do you t

[2015-03-24 10:28] twisniewski commented on #45
We had the `cassandra-journal.keyspace` configured and the `CREATE KEYSPACE IF NOT EXISTS` failed. I'm gonna provide PR with boolean config parameter later this week.

[2015-03-24 10:33] krasserm commented on #45
Great, thank you.

[2015-03-31 17:02] yousef-fadila opened #47 "serializaion binding issue"
the plugin always serialize the payload using the serializer binded to persistentRep.

so In case the application define a custom serializer to its objects , e.g
    akka.actor {
    serializers {
    my-payload = "docs.persistence.MyPayloadSerializer"
    my-snapshot = "docs.persistence.MySnapshotSerializer"
    }
    serialization-bindings {
    "docs.persistence.MyPayload" = my-payload
    "doc

[2015-03-31 17:30] #47 closed

[2015-03-31 17:31] sebastiaansamyn-tc commented on #47
I'm not entirely sure what your question is, but I'm guessing that you are worried that your custom serialization is not used.

The plugin serializes the PersistentRepr using the protobuf based implementation that is included, but if everything is properly configured, it'll use your implementation for the serialization of the payload.

I'm 100% sure that it works, we're using this as well with a c

[2015-03-31 17:39] yousef-fadila commented on #47
you're right, it was my mistake,
it do use the akka.persistence.serialization.MessageSerializer which in turn call my custom serializer...

[2015-04-04 06:15] #45 closed

[2015-04-19 20:13] LukeTillman opened #48 "Possible to read data with partially applied or unapplied batches during replay?"
First, great work on this project! I was looking at it for inspiration in adding similar Cassandra support to Akka.NET.  Here's the scenario I'm imagining might be an issue:

1. Actor is writing a batch of events (could be one or more events) to the Journal.
2. The Journal looks like it's using a Logged Batch to send the writes to Cassandra.
3. The Batch is accepted by Cassandra and the Journal re

[2015-04-19 20:18] LukeTillman commented on #48
If this is an issue, I was thinking a possible alternative to the use of Logged Batches might be an Unlogged Batch where you ensure the statements in the batch only write to a single partition. In this case, I think the group of statements in the batch will be merged together by Cassandra into a single operation and applied together (thus you get isolation as well).  That would probably mean aband

[2015-04-19 20:45] tobert commented on #48
If you're writing across multiple partitions the writes will not be isolated.

https://cassandra.apache.org/doc/cql3/CQL.html#batchStmt

"By default, Cassandra uses a batch log to ensure all operations in a batch are applied atomically. (Note that the operations are still only isolated within a single partition.)"

[2015-04-19 20:53] LukeTillman commented on #48
@tobert Yeah, that's what I was thinking of when I proposed writing to a single partition as a possible alternative.

Is it accurate to say that just because a *logged batch* is accepted by Cassandra, doesn't mean that you have any guarantee you'll be able to read the writes in that batch immediately? Just that you'll be able to *eventually* read them once they're all applied? And when reading, yo

[2015-04-19 21:01] tobert commented on #48
Within a single partition, the write will be isolated from reads, but still eventually consistent after application, so there is a (usually tiny) window where you can get inconsistent reads across replicas.

I think you need to use CAS to get what you need, but I've never used CAS + BATCH myself.

[2015-04-20 05:27] krasserm commented on #48
@LukeTillman @tobert thanks for starting this discussion. With the current implementation and the default configuration, I think the described scenario is not an issue:

- For the majority of cases, batch writes from a single `PersistentActor` (with a given `persistenceId`) anyway go to the same partition. In this case, writes should be atomic and isolated from reads. To avoid eventually consisten

[2015-04-20 17:27] LukeTillman commented on #48
All right, I asked some of the Cassandra OSS contributors because I'm obviously confused. :smile: I think your point about inside a single partition is right, we're totally fine there (inside a single partition, those don't even use the batch log even if the client uses a logged batch). The problem I think is when you've got a batch crossing partition boundaries.  I think the failure scenario desc

[2015-04-20 17:48] chanan commented on #48
Awesome discussion. I have been thinking about how to possibly fix (not likely) or detect such a case. I think (but not sure) that it could be possible to detect this type of situation.

The problem occurs, if I am not mistaken, because we want to add the PartiationNr to make sure we are better using wide rows and in general be more efficient and performant. Could we not have a second table that s

[2015-04-20 19:45] matlockx opened #49 "ConfigurationException: Column family ID mismatch"
Hi,

when I start two services with akka persistance and both services try to create the schema at the same time I get a ConfigurationException: Column family ID mismatch
It seems that it's not really easy to solve:

http://mail-archives.apache.org/mod_mbox/cassandra-user/201411.mbox/%3C20141127142534.Horde.4rUxar8x7aa5JS93x4sdxQ7@www3.nde.ag%3E

https://issues.apache.org/jira/browse/CASSANDRA-838

[2015-04-21 04:06] krasserm commented on #48
@LukeTillman a proper solution to this problem would be to avoid cross-partition writes at all as you already proposed:

Finding the right partition(s) for reading would then be more expensive (as it cannot be calculated exactly any more) but since reading is only done during recovery this shouldn't be a big issue.

[2015-04-21 04:24] krasserm commented on #48
@chanan I'm not sure if I can follow your proposal but I'll try to answer

The reason for having a `partitionNr` is to scale with data volume, otherwise, you end up with all events of a given `persistenceId` on the same partition (= node).

Do you really mean *persistenceId* here or partitionNr? Also, do you assume that a write to both tables is atomic and isolated? If yes, how are both tables par

[2015-04-21 04:50] krasserm commented on #49
Are these two services trying to create the *same* schema concurrently or different schemas?

[2015-04-21 05:02] matlockx commented on #49
The same
On Apr 21, 2015 6:51 AM, "Martin Krasser" <notifications@github.com> wrote:

[2015-04-21 05:12] krasserm commented on #49
What if you create the schema upfront e.g. using the CQL shell? Do you still see the error?

[2015-04-21 06:08] matlockx commented on #49
I think so. But it's hard to simulate cause I have to do it in parallel at
the same time. My usecase is on test machines where we deploy several small
services from scratch. They are started in parallel so it occurs from time
to time that this error happens. Because the schema creation is done in the
constructor the actor dies with an initializationError.
I can work around that by externalizing th

[2015-04-21 06:48] krasserm commented on #49
Before hard-coding a workaround into the plugin I'd like to know if an upfront schema creation actually solves the problem. The latter looks like a for more clean solution to me.

[2015-04-21 07:15] matlockx commented on #49
i agree in general but actually the code in the plugin tries to create the schema and there are some parameters in the config which influence the schema creation. so the solution would then be to have an external script which must be executed somewhere at startup by a single executor?
I mean that is ok, but then the plugin should not offer schema creation, or it should be deactivated by default an

[2015-04-21 09:43] krasserm commented on #49
Yes please, give it a try. If it doesn't help please create a pull request (and make the number of retries configurable). Thanks

[2015-04-21 11:07] matlockx commented on #49
Alright. Will do :)
On Apr 21, 2015 11:43, "Martin Krasser" <notifications@github.com> wrote:

[2015-04-25 14:43] matlockx commented on #49
i played a bit but i couldn't really simulate it by using cqlsh which is what I expected cause we had that issue on our test systems two times in round about two weeks (running the tests ~20 times per day).
Based on that, are you still interested in the pr? I mean I could wrap the call in the retry bock with a default of 1 which would then mean, don't retry

[2015-04-25 20:30] magnusart opened #50 "Browsable event journal"
Browsing events is cumbersome since they are stored in blobs which are not easily human readable during development and maintenance.

Could there be a way to address this problem, perhaps by allowing for a JSON serialization into a text/varchar column instead of blob column or even custom schemas?

[2015-04-26 12:41] krasserm commented on #49
Yes, please create one. Thanks for working on it.

[2015-04-26 19:09] ArturSoler commented on #50
How do you browse them now? I am testing the Cassandra journal and I haven't found a way to browse them (however cumbersome-ly) yet.

I've tried with "select blobAsText(message)" and "select blobAsVarchar(message)" but that didn't work.

Thanks

[2015-04-27 05:11] krasserm commented on #50
You can either

- extend `CassandraJournal` to additionally write JSON representations somewhere else
- use `akka.persistence.PersistentView`s to store JSON representations somewhere else or
- try using [akka-analytics](https://github.com/krasserm/akka-analytics#event-batch-processing) to do whatever batch processing you need with Spark.

[2015-04-27 05:11] #49 closed

[2015-04-27 05:13] matlockx commented on #49
I close this cause #51 got merged

[2015-04-27 06:11] magnusart commented on #50
@ArturSoler I use a tool called DBeaver, the enterprise version (it's free even if it's enterprise) supports Cassandra and in the latest release they added support to show the contents of blob messages.

@krasserm Hmmm... akka-analytics, never heard of that. I need to check that out.

[2015-05-07 12:21] amimimor opened #54 "'2.4-snapshot' incompatible with 'master' schema"
I tried using the akka-2.4 branch and it appears that akka/persistence/cassandra/journal/CassandraStatements.scala uses "persistance_id" instead of "processor_id" which causes the library not to work if existing ('master' schema) tables are already present.
Had to 'drop' the corresponding keyspaces to make the 'akka-2.4' branch work

[2015-05-07 16:25] krasserm commented on #54
This is discussed in #52.

[2015-05-18 07:49] krasserm commented on #48
In rbmhtechnology/eventuate#62 the isolation problem was solved in the following way:

- Store one event batch per row instead of one event per row (i.e. the blob contains n events instead of 1). This makes Cassandra batch statements obsolete and event batches can be written atomically **and** isolated. The `sequence_nr` part of the key contains the sequence number of the last event in the batch.

[2015-05-18 08:53] oliverbestmann opened #55 "New release"
Could you please provide a new release with the latest patch by @matlockx ?

[2015-05-18 12:06] krasserm commented on #55
https://dl.bintray.com/krasserm/maven/com/github/krasserm/akka-persistence-cassandra_2.11/0.3.8/

[2015-05-18 12:06] #55 closed

[2015-05-18 15:43] LukeTillman commented on #48
I think that approach would definitely take care of the problem. Although if a batch is now the "unit" for a write, I have a few questions:

1. Deletes -- what do you do to delete up to a sequence number that's in the middle of a batch? For permanent deletions do you have to read in the batch, delete some entries, and then serlialize a new copy?
2. Reads -- how do you do a `SELECT` query when star

[2015-05-19 04:40] krasserm commented on #48
@LukeTillman

- re 1: If the upper bound for a deletion is within a batch, that batch is not deleted at all (only older batches). In [Eventuate](https://github.com/RBMHTechnology/eventuate) this is acceptable but in Akka Persistence this violates the plugin API contract. This means that the deletion must additionally write the upper bound somewhere else so that it can be considered during a replay

[2015-05-19 09:13] krasserm commented on #48
@LukeTillman I meanwhile [got confirmations](http://www.mail-archive.com/user@cassandra.apache.org/msg42422.html) that single-partition batch updates are indeed isolated. So I'll switch to a schema with one event per row.

[2015-05-19 15:08] LukeTillman commented on #48
@krasserm Awesome, my implementation is based on that assumption as well so good news.  Are you still planning on advancing the sequence number so that partition numbers aren't contiguous any more when you have to move to the next partition early?

[2015-05-19 15:29] krasserm commented on #48
@LukeTillman yes, I think so. As soon as you're using asynchronous writes you'll anyway introduce gaps in failure cases. For example, 2 batches are submitted, the first fails, the second succeeds and you have a gap.

To prevent that, you have to wait for one batch to complete before writing the next one. If a batch fails it still may have been written successfully but you didn't get the ACK. Conse

[2015-05-19 19:25] LukeTillman commented on #48
@krasserm OK, I think I understand what you're saying. I'm having a hard time wrapping my brain around the success case though.

Let's say you have two batches submitted. The first batch arrives and it's going to cross a partition boundary, so instead of writing it with the sequence numbers in the messages, you advance the sequence number to the beginning of the next partition and write them there

[2015-05-20 05:29] krasserm commented on #48
@LukeTillman sorry for having added confusion to partition boundary discussion. I was mixing up things from Eventuate and Akka Persistence (in my [previous comment](#issuecomment-103552714)):

- In Eventuate, this is trivial to implement because the journal (= log) actor is maintaining the sequence counter. Advancing the sequence number at partition boundaries can therefore applied immediately to

[2015-05-31 21:23] magnusart opened #57 "Datastax Java Driver TLS Support"
Hi

I poked around in the code and could not find any support for TLS (SSL). Is this planned or excluded on purpose? When running Cassandra in the Cloud it feels like a good idea to have traffic encrypted.

It looks as if the DataStax driver has support for this already so adding the configuration setting `clusterBuilder.withSSL()` in `CassandraPluginConfig` would work.

The enables the user to su

[2015-06-01 04:21] krasserm commented on #57
Hi Magnus,

thanks for offering help. @elmalto started working on it and created pull request #53. @elmalto are you still planning to continue with it?

[2015-06-01 08:43] magnusart commented on #57
Cool. I actually did a quick test last night by adding the withSSL() and adding the JSSE runtime parameters, but it didn't work out of the box with my setup.

I could continue on the work started by @elmato and test it if he is occupied.

[2015-06-01 08:47] krasserm commented on #57
@magnusart sound good to me!

[2015-06-02 00:04] elmato commented on #57
@magnusart i think you are referring to @elmalto (Yes .. tricky nick names :)  )

[2015-06-02 00:45] elmalto commented on #57
Hey @magnusart, it would be amazing if you could continue it. I currently don't know when I would find time for it :)

[2015-06-02 19:33] magnusart commented on #57
@elmalto I gave it a go already yesterday. :)

I refactored the a bit, basically to close the input streams. But I could not get the SSL connection to happen.

In the Cassandra logs I get a message that claims the data sent was not a SSL-handshake and when I look at the data being sent it is "CQL3.0". Did you successfully test SSL-connection?

I can connect to my cluster using the DataStax DevCent

[2015-06-02 21:14] elmalto commented on #57
@magnusart it works, but on other projects I've had issues with getResource. I think it will silently fall back to not using your provided keystore if it doesn't find the file

[2015-06-03 09:50] matlockx opened #58 "Make contactPointList more robust"
Hi,

this is more a question as a direct issue but what I saw at work while using the cassandra driver is, that addContactPoint actually throws an exception if the hostname cannot be resolved which breaks the actor during initialisation.
I would propose something like
[code]
and only fail when there are no contact points at all in the builder, because the driver should work with only one accessibl

[2015-06-03 15:19] magnusart commented on #57
@elmalto thanks, as I suspected I had some strange state where my project did accept my locally published version (even when using `-SNAPSHOT`). I actually already fixed the JKS when file not found. I throw an error if the path is incorrect.

@kasserm I have created a new pull request

Pull request: https://github.com/krasserm/akka-persistence-cassandra/pull/59

[2015-06-08 05:01] matlockx commented on #58
After some more investigation I think it can be closed. We are using an addContactPoint which is not throwing an exception when the host cannot be resolved. This means that the host will stay in the contact point list and cannot be used later on to connect to the cluster. This is fine until one of the contact points is working and when none is working the driver itself will throw an exception.

[2015-06-08 05:01] #58 closed

[2015-06-10 06:07] #57 closed

[2015-06-18 13:04] magnusart commented on #57
Hi

Would you mind publishing a SNAPSHOT version with this included? I want to use this for dev and I'd rather like to track your repo than publish it by myself.

[2015-06-19 10:51] krasserm commented on #57
Bintray doesn't allow publication of snapshot versions. I initially planned to do further work on this plugin before making the next release. But if you'd like I can cut a 2.3.9 release next week. Please let me know.

[2015-06-23 11:57] magnusart commented on #57
Hi, that would be great if it is not too much work.

[2015-06-26 04:23] krasserm commented on #57
@magnusart 0.3.9 containing your changes is released.

[2015-06-26 05:38] magnusart commented on #57
Many thanks!

[2015-06-26 05:44] krasserm commented on #57
You're welcome. Thank you for your contribution!

[2015-06-29 13:37] juanjovazquez opened #61 "Multi-Env support"
Hi, Martin, great stuff here!

In my current project we've stumbled across a problem when it comes to support different configurations based on the environment. For example, we'd want to have "localhost" as the only contact point when we're working in dev/local but a list of contact points, according to some environment variable, in pre and production environments.

We've tried to employ the optio

[2015-06-29 15:35] matlockx commented on #61
Hi,

as far as I know it's not possible to inject an array there. There are two ways to do it:

1. When you have a well known number of live nodes then you can do something like that (which is what I'm doing in a project):
[code]

2. The other way is that you define it in a different property too but as a string (list), then you parse the string in your code, generate a list  out of it (contact-po

[2015-06-30 07:43] krasserm commented on #61
@juanjovazquez can't you use different configuration files for different environments (factoring out common configuration to `common.conf`, for example)? The program entry point (script or whatever) could then choose the right configuration file.

[2015-06-30 16:32] chbatey commented on #54
Hi @krasserm assuming you're not already working on it I I'd like to update the wip-akka-2.4 branch for the API changes in 2.4-M2, if you're planning on doing it soon I'll hold off

[2015-06-30 17:02] krasserm commented on #54
@chbatey would be great if you could do the update. Thanks in advance for your contribution.

[2015-06-30 19:06] chbatey commented on #54
The interface has changed to take in  a Seq of AtomicWrites, after reading through #48 I'll keep it as c* batch per AtomicWrite. This suffers from the existing issue that we could be writing to different partitions and thus no guarantee of atomicity at the c* level

[2015-07-01 03:59] krasserm commented on #54
That's ok for the moment. WDYT about including all `AtomicWrite`s that go to the same partition into a single c* batch?

I plan to work on #48 combined with some other changes, such as removing partition headers (which where only needed for individual deletes). A lot of complexity in the current implementation comes from the early plugin API and can be cleaned up now.

[2015-07-01 08:40] chbatey commented on #54
In general batches in C* reduce performance (who knew?) as it gives a single coordinator a disproportionate amount of work to do so I'd avoid doing this. I had hoped to suggest we remove all batching and replace with multiple async writes but that completely breaks the contract with akka-persistence.

[2015-07-01 09:46] krasserm commented on #54
My proposal was to include all writes **to the same partition** into a c* batch (assuming that events of an `AtomicWrite` are never cross-partition). Of course, writes that go to different partitions should be included into different c* batches.

[2015-07-01 10:16] chbatey commented on #54
I agree this is the one use case were c* batches make sense. However you still generally get better perf from multiple writes as you make use of multiple coordinators. I have, in previous applications, made use of multiple small batches to get the best of both worlds but it is hard to come up with a general rule.

So I don't think it is worth the complexity of losing the 1:1 mapping between Atomic

[2015-07-01 10:49] ktoso commented on #54
Some background info on the changes:
An `AtomicWrite` will only contain multiple events if the user explicitly called `persistAll(these, atomically, please)`, otherwise when `persist(a); persist(b)` is called those are two separate `AtomicWrites`, so the atomic write really represents the user intent/need that these need to go together, and also we don't really encourage this style (we don't encou

[2015-07-01 11:05] krasserm commented on #54
I thought there's only a single coordinator responsible for a given partition. So multiple writes to the same partition should always go to the same coordinator. Am I missing something?

[2015-07-01 11:32] chbatey commented on #54
@krasserm It depends on driver version/config, at a minimum there'll be N where N is the replication factor, there's no master replica as they are all equal. If you switch off TokenAwareLoadBalancer or you are using a slightly older driver then any node in the cluster can be a coordinator for any partition. So basically a c* node has two roles: coordination and data storage.

It nearly always make

[2015-07-01 15:38] chbatey commented on #54
Hi @krasserm to carry on the discussion regarding schema migration. The changes in the 2.4 branch change a column in the primary key. There is no easy migration script for this if people have a lot of data (the most common way is to build an entirely new table with spark). If it was a non-primary key column then changing would be trivial.

[2015-07-01 15:39] ktoso commented on #54
Which field is that @chbatey?

[2015-07-01 16:00] chbatey commented on #54
Yeah, tho thinking about it if is just a re-name maybe it is okay, will consult with cassandra-dev, I'm thinking if the primary key changes.

[2015-07-04 04:07] krasserm commented on #61
@juanjovazquez any comments or update on your status here?

[2015-07-04 04:23] krasserm opened #64 "Schema migration tool"
With the new plugin API in akka-persistence 2.4, the implementation of `CassandraJournal` and the underlying schema can be strongly simplified (for example, we can remove headers and markers, ...).

Although it would be possible to stay backwards compatible with the existing schema, it would make working on #48 and the maintenance of the plugin unnecessarily complex. Hence, a migration tool seems

[2015-07-04 04:25] krasserm commented on #54
Superseded by #64

[2015-07-04 04:25] #54 closed

[2015-07-04 07:45] juanjovazquez commented on #61
Sorry for delay (too much work I suppose). Yes, I always can do what you propose. It's more a Typesafe config's issue. Thanks and keep up The good work.

[2015-07-04 07:45] #61 closed

[2015-07-04 16:18] chbatey commented on #64
Happy to work on #48 and this issue if you want @krasserm

[2015-07-04 16:45] matlockx commented on #64
You've seen https://github.com/comeara/pillar ?
Looks promising from my point of view.

[2015-07-05 09:06] krasserm commented on #64
@chbatey this would be fantastic. Thanks for offering help and looking forward to see PRs :-)

@matlockx thanks for the hint, will take a closer look soon.

[2015-07-09 21:42] gavares opened #65 "Port configuration only honored for first host in contact-points"
Relevant configuration:
[code]

During application start, the first host is connected to successfully on the correct port. All connection attempts to the remaining hosts in the list fail as they are attempting to connect on the default port 9042:

[code]

I've tried using `host:port` pairs instead and get the same result.
I also tried just registering a single host and still the same result as the

[2015-07-13 03:52] krasserm commented on #65
[This](https://github.com/krasserm/akka-persistence-cassandra/blob/v-0.3.9/src/test/scala/akka/persistence/cassandra/CassandraPluginConfigTest.scala#L29) and [this](https://github.com/krasserm/akka-persistence-cassandra/blob/v-0.3.9/src/test/scala/akka/persistence/cassandra/CassandraPluginConfigTest.scala#L41) test verify that this is actually working. If you still think it's a bug, please re-open

[2015-07-13 03:52] #65 closed

[2015-07-23 12:58] anderius opened #67 "Possibility to set compaction strategy in configuration"
Feature request: Possibility to define compaction strategy when configuring the plugin.

[2015-07-24 17:26] chbatey commented on #48
Hey @krasserm I have a local copy of this (I hadn't forgotten, just busy). Life would be easier if the AtomicWrite contained more information rather than having to look into the payload, I raised https://github.com/akka/akka/issues/18076 in case the Akka guys agree. Will raise a PR soon.

[2015-07-25 08:01] krasserm commented on #48
@chbatey great to hear that you're working on it. The proposed changes to akka-persistence make absolutely sense to me. Looking forward to the pull request!

[2015-07-25 08:03] krasserm commented on #67
That's a useful feature. Would you like to work on it and create a pull request?

[2015-07-27 08:30] anderius commented on #67
I don't know Scala and SBT, but I might be able to look at the work done with "gc-grace-seconds", and do something similar. I will give it a try!

[2015-07-27 09:12] anderius commented on #67
Just a summary of what I need to do, for reference:

I will have to make create-table with the following, read from config:

    with gc_grace_seconds = 123
    AND compaction = {
           'bucket_high' : 1.5,
           'bucket_low' : 0.5,
           'class' : 'SizeTieredCompactionStrategy',
           'cold_reads_to_omit' : 0.05,
           'enabled' : true,
           'max_threshold' : 32,

[2015-07-27 14:15] chbatey commented on #67
@anderius do you need all of those options for each of the compaction strategies? There are lots of defaults and the options change between versions. Alternatively we could be more agnostic and as people to include the entire block so we are future proof.

[2015-07-27 14:58] chbatey opened #68 "Reduce default msgs per partition"
Nothing wrong with 5 million for a very large use case but I am concerned smaller use cases like 100k transactions/day will spend the first 50 days in a single C* partition.

The benefit we get from larger partitions is sequential disk access on replay, but assuming the partition size % number of rows we read = 0 we'll get this.

What do people think?

[2015-07-27 16:06] krasserm commented on #68
This is only the case if an application uses a single `PersistentActor`. In many applications, there's one `PersistentActor` per [aggregate](http://martinfowler.com/bliki/DDD_Aggregate.html) and `persistenceId` is the most significant component of the partition key. So writes should distribute well in the cluster. On the other hand, reducing partition sizes should be fine here as well, unless repl

[2015-07-28 08:13] anderius commented on #67
That would be easier... But how can we validate it? Against terminating the statement and doing something else...

Maybe that is not important, I have not yet secured my Cassandra installation very much..

[2015-07-28 09:05] chbatey commented on #68
Good point. An additional benefit would be to reduce the impact of tombstones, the smaller the partition the quicker we start using a different one and stop reading over deleted sequence numbers. That gets me thinking we could add an additional static column to indicate the whole partition has been deleted but it was in use and should move to the next partition.

[2015-07-28 09:07] chbatey commented on #67
It is a valid point however I assume that this is coming from user config rather than from an external request/source.

[2015-07-28 09:30] chbatey opened #70 "Implement cassandra-journal.max-result-size via Paging"
Atm a LIMIT query is used. We could use cassandra paging fetch-size introduced in C* 2.0:

http://datastax.github.io/java-driver/2.1.7/features/paging/

This is used in the [C* Spark Connector](https://github.com/datastax/spark-cassandra-connector) when bringing a large number of rows into Spark from C*.

It would remove one of the cases in the RowIterator, we're already doing synchronous queries

[2015-07-30 10:06] anderius commented on #67
Hmmm... After thinking a bit, I am not so happy with my suggestion. :-)

Putting all these parameters in your config will make the config dependent on a more specific version of Cassandra than before. And these parameters could easily be changed runtime with DevCenter...

Changing the settings and restarting your application will not have any effect, even if changing them runtime makes sense. This

[2015-07-30 10:33] chbatey commented on #67
I understand your concerns as it it might violate the principle of least surprise that the plugin doesn't update your schema to what you've put in your config. Cassandra schema migration can be a controversial topic :)

I still think there is value in having the plugin create the table with your Compaction strategy of choice without any extra options + well documented. Then leave it up to whatever

[2015-07-30 10:52] anderius commented on #67
You mean only specifying the strategy to use, and not any parameters? That would be cleaner...

Is it possible to say something about which parameters are stable, and which might change?

The following would be the most useful for me, and they are the same across all strategies:

    'tombstone_compaction_interval' : 86400,
    'tombstone_threshold' : 0.2,
    'unchecked_tombstone_compaction' : fa

[2015-08-01 14:56] krasserm commented on #70
After reading the docs again, +1 to use the fetch-size on the driver (and simplify `RowIterator`).

The current implementation came from a misunderstanding on my side: I thought the server always limits the size of a result set (using a default value if none is given) so that clients need to query for more results once they've iterated over a previous query. I thought that `LIMIT` is independent o

[2015-08-01 14:58] krasserm commented on #68
Makes sense, let's reduce the default partition size.

[2015-08-01 15:45] chbatey commented on #70
You were right that LIMIT is independent of fetch size and that the server by default will return all the rows.

LIMIT is mainly used for manual paging (like we are now) or getting top N results, and will result in you needing to issue another query based on the last row of the previous query.

Prior to 2.0 if you didn't specify a LIMIT (paging didn't exist) you would get OutOfMemory in either the

[2015-08-01 16:25] krasserm commented on #70
OK, sound good.

[2015-08-05 10:08] chbatey commented on #67
I think properties that are common across all compactions strategies would be useful. There's always the chance that new Compaction strategies will come that don't have them but can add validation for that later.

[2015-08-05 10:11] chbatey opened #72 "Persist immutable configuration"
At the moment changing the maxPartition size after start up will break the plugins replay. We should persist these properties and validate they aren't changed. In future we could add a migration tool to move existing data to a new partition size. Perhaps spark based.

[2015-08-05 10:42] matlockx commented on #72
+1

[2015-08-10 12:30] PeterLappo commented on #64
I use pillar on my project, but is not well maintained. I have a fork here https://github.com/smr-co-uk/pillar/tree/patch with merged pull requests, a couple of improvements and improved documentation.

[2015-08-11 11:54] krasserm commented on #64
@PeterLappo thanks for sharing!

[2015-08-13 09:35] anderius commented on #67
This lost focus from me, because my project took another path... I will try to complete it sometime, but not knowing Scala even the simplest task took time...

Anyone knowing Scala: Feel free to do this!

[2015-08-17 22:00] kpbochenek opened #74 "wip 2.4 branch incompatible with 2.4-M3 akka"
Caused by a commit:
https://github.com/akka/akka/commit/c5851600f0e1025dda3877fa934a852ab2020925

+section, to allow different values for different journal plugins

[2015-08-17 22:04] chbatey commented on #74
Haven't integrated with M3 yet, I will look at this week.

[2015-08-18 05:52] pjan commented on #74
Updated it locally. Happy to put up a PR for this, if interested.

Assumption made: `max-message-batch-size` works for both `bach writes` and `batch deletes` (following what they did in the akka codebase)

[2015-08-18 06:49] pjan opened #75 "WIP 2.4 not working correctly with EventAdapters"
**STR:**
1) Register an eventadapter for a persisted event
2) Override the stringmanifest in said adapter with a switch based on the event content (e.g. amount less or more than x)

**Expected:**
- Select the correct event adapter step upon replay based on the set manifest

**Actual:**
- Select the adapter step for the empty (`""`) manifest

[2015-08-18 08:15] kpbochenek commented on #74
I am not a maintainer but go for it I would like to compare with my solution :)

[2015-08-21 18:48] chbatey opened #76 "Consider changing impl of Highest sequence number more efficiently"
While thinking about how we can avoid redundant deletes it got me thinking we can change read highest sequence nr by issuing a single query per partition rather than using the iterator e.g:

[code]

As soon as inuse is null/false we can use the sequence_nr from the previous query.

C* keeps a partition index which means that going to the end is efficient (tho not as efficient as getting the first

[2015-08-22 05:41] krasserm commented on #76
+1, good idea

[2015-08-24 13:33] zapletal-martin opened #77 "Persistence Query for Cassandra"
Akka persistence query complements Persistence by providing a universal asynchronous stream based query interface that various journal plugins can implement in order to expose their query capabilities. The API is documented http://doc.akka.io/docs/akka/snapshot/scala/persistence-query.html#persistence-query-scala. An example implementation using LevelDB is described here http://doc.akka.io/docs/ak

[2015-08-24 13:34] zapletal-martin commented on #77
I have started working on this issue. Will update with progress and create a PR when ready.

[2015-08-24 13:36] chbatey commented on #77
awesome, i had planned to start on it but go for it. This PR brings the dependency up ti 2.4-RC1 which should get merged soon so worth basing your work off this https://github.com/krasserm/akka-persistence-cassandra/pull/69

[2015-08-24 13:37] ktoso commented on #77
Very cool, thanks for hopping on to it @zapletal-martin :-)
Please be aware that the new query API is experimental and we're still looking for the best way to expose it - feedback is very welcome (!), here's our general discussion ticket: https://github.com/akka/akka/issues/18229

[2015-08-28 10:19] juanjovazquez commented on #77
+1

Thanks @zapletal-martin for bringing this here. This is a real MUST for us. We're thrilled to improve the READ layer in our CQRS stuff. We'll have a look as soon as you share your work. Of course @krasserm should coordinate this effort IMHO :)

[2015-09-01 13:44] #72 closed

[2015-09-01 13:45] #48 closed

[2015-09-01 13:50] chbatey opened #80 "Atomic deletes"
Deleting a range of sequence numbers will normally require deletions in multiple partitions so the whole operation is not atomic. As far as I am aware this isn't an explicit requirement but it could lead to partially successfully deletions if some deletes fail and some succeed. Consider putting a per partition (static) field to record deletedUpTo that any message scans would use as their starting

[2015-09-01 13:54] krasserm commented on #74
Can we close this ticket (after the recent merge to wip-akka-2.4)?

[2015-09-01 14:20] chbatey commented on #74
Yes we're 1 release after M3 now.

[2015-09-01 14:20] #74 closed

[2015-09-02 14:42] chbatey commented on #77
I'd love to hear more use cases, my initial thoughts:

- Anyone who has chosen c* as the backing store would typically have too many events to make AllPersistenceIDs feasible.
- EventsByPersistentId is the easy one. We can use the back pressure to handle the paging of the query (http://datastax.github.io/java-driver/features/paging/)
- EventsByPersistentIds is feasible for small numbers of IDs
- E

[2015-09-02 15:41] zapletal-martin commented on #77
Thanks @chbatey .

As I see it there are 3 options:
1) push to stream from Cassandra (currently not possible out of the box. At least not until the CDC is implemented or something like https://github.com/adkhare/CassandraKafkaIndex is feasible or we implement something)
2) push to stream from write journal (as mentioned in the PR. I still did not have a chance to investigate if it would work corre

[2015-09-02 16:04] chbatey commented on #68
Anyone have a preference on the number? 500k? We'll need to think about this when we do a migration tool.

[2015-09-02 16:14] chbatey commented on #77
i'd maybe incorrectly assumed that this had to work in a different JVM to the writer, WDYT?

[2015-09-02 18:32] zapletal-martin commented on #77
The read and write journal running in the same actor system was probably my incorrect assumption based on reading the LevelDb implementation. I assume you should be able to execute the query from anywhere and therefore that option is not relevant unless we want to communicate remotely.

[2015-09-02 18:43] juanjovazquez commented on #77
Just in case this can help. In our application, we have lots of shards of actors where each shard represents an aggregate in terms of DDD. So, every instance of each aggregate type has its own persistenceId and lifecycle of course. So, from my point of view, all we need is to project every event raised from the aggregate and update the views accordingly.

I can imagine that EventsByPersistenceId w

[2015-09-03 05:18] krasserm commented on #68
500k sounds like a reasonable default.

[2015-09-03 07:46] krasserm commented on #77
Here are my initial thoughts on the general architecture, constraints, implementation options and open issues.

### Architecture

1. **Master data management**. This architectural component is already in place backed by the `messages` table and the `CassandraJournal` actor is used for writing and reading events to and from that table. From a data organization perspective, events are ordered per `P

[2015-09-03 08:21] #76 closed

[2015-09-03 09:55] #68 closed

[2015-09-03 11:08] chbatey commented on #75
I re-created this, seems the manifest is being lost on deserialisation, checking with the akka dev team

[2015-09-03 11:22] chbatey commented on #75
I think this is a bug in the akka persistence default serialiser for PersistentRepr, i changed our code to:

[code]

And it fails.

[2015-09-03 11:24] ktoso commented on #75
Thanks for the ping @chbatey! Seems weird, I'll look into it today after some Http work.
Maybe it's some silly mistake as we have `payloadManifest` and `manifest`, perpahs our tests were setting up to much manually to catch this hm, I'll report back soon!

[2015-09-03 12:41] #70 closed

[2015-09-04 07:48] chbatey commented on #75
Looks like this is fixed in master of akka, will check when we upgrade to 2.4-RC2

[2015-09-04 07:53] ktoso commented on #75
Yup, and we'll release the RC2 today to not block you guys with this bug.
Thanks for catching it again.

[2015-09-04 09:27] pjan commented on #75
Thanks guys!

[2015-09-04 15:10] ktoso commented on #75
Hi guys, the fix in Akka has been pushed – please bump to `2.4.0-RC2` :+1:

[2015-09-04 15:26] chbatey commented on #75
Thanks @ktoso works for me, @pjan ?

[2015-09-07 09:39] #80 closed

[2015-09-07 11:35] chbatey opened #87 "Make retry policy configurable"
Persistent actors are stopped if a persist fails which can be an expensive operation as when the Actor is restarted a full reply is required.

Could start with a fixed retry policy + offer the built in ones from the datastax driver.

[2015-09-08 15:03] zapletal-martin commented on #77
Thanks @krasserm for a detailed analysis. I conceptually agree with what you have outlined. There are still unknowns ragarding the actual implementation, but will surely discuss those later.

I have done some work mostly on the Stream Production component. It may not be relevant as we need to discuss how exactly it will work, but I envision it to be relatively straightforward.

One thing we must t

[2015-09-09 14:45] maciekciolek opened #89 "Provide the 0.4-SNAPSHOT in maven"
Hello,
You have already update README.md on master with new snapshot version:
[code]

I have tested and 0.3.9 does not work with Akka 2.4-RC2. Is it possible to build 0.4-SNAPSHOT and place it in maven?

[2015-09-11 10:50] patriknw opened #90 "0.4-SNAPSHOT: Unknown identifier persistence_id"
I tried 0.4-SNAPSHOT for Akka 2.4.0-RC2, and I had an old cassandra instance that was populated with things from some Akka 2.3.x version. Startup (recover) fails with the following:

    [ERROR] [09/11/2015 12:36:41.026] [ClusterSystem-akka.actor.default-dispatcher-19] [akka://ClusterSystem/system/cassandra-snapshot-store] Unknown identifier persistence_id
    akka.actor.ActorInitializationExcepti

[2015-09-11 10:52] chbatey commented on #90
Thanks @patriknw there is no migration path for existing data yet

[2015-09-12 05:41] krasserm commented on #77
We can also achieve that with a migration tool or script. Breaking the existing schema shouldn't be an issue then.

Yes exactly, my description was rather imprecise.

With *master* I mean the raw event log(s) as written by journal actors. With *index*, I mean tables derived from that log to serve queries efficiently, such a query by tag, for example. Instead of custom tables, this can also be a Ca

[2015-09-13 15:08] jparkie commented on #67
I'll try to work on this. :)

[2015-09-14 08:24] krasserm commented on #67
Thanks @jparkie, looking forward to see the pull request :)

[2015-09-15 14:43] masterzen opened #91 "Current 2.4.0-RC2 based master is incompatible with (at least) Cassandra 2.1.2"
Hi,

I was trying to understand an issue since I moved to Akka 2.4.0-RC2 and the master branch of the akka-persistence-cassandra (it was previously working fine on Akka 2.4-M2 and a previous version of wip/akka-2.4).

The symptoms were that one specific actor wasn't recovering correctly, no messages were read from cassandra.

I created a reproducible test that produces the following unique message

[2015-09-15 14:48] chbatey commented on #91
Thanks for raising this.

I found that static columns were broken for limit queries on low 2.1.* versions of Cassandra. I raised this with cassandra-Dev and they confirmed it was fixed. Any version less than 2.1.6 isn't suitable for production but we should document this to stop others hitting the issue and wasting time on it.

[2015-09-15 14:51] masterzen commented on #91
@chbatey thanks for confirming the issue. I will upgrade Cassandra on my test VM to check if that solves the issue.

:+1:  changing the README would be a good idea :)

[2015-09-15 15:02] masterzen commented on #91
I indeed confirm that the problem is fixed in Cassandra 2.1.9.

[2015-09-15 15:02] #91 closed

[2015-09-16 06:59] pjan commented on #75
can be closed.

[2015-09-16 07:27] #75 closed

[2015-09-16 07:27] ktoso commented on #75
Yay :)
On Sep 16, 2015 09:27, "Christopher Batey" <notifications@github.com> wrote:

[2015-09-17 14:52] zapletal-martin commented on #77
Breaking an existing schema is not an issue, but I initially thought (re)ordering information might be.

Currently events are ordered by persistenceId and sequenceNr. It maintains partial ordering per CassandraJournal per persistenceId. Unlike Eventuate, persistenceIds can not be shared by multiple instances in Akka Persistence so it was fine.

The ordering requirements I mentioned in previous com

[2015-09-19 07:24] krasserm commented on #77
You can create a total order without coordinating among journal actors. The simplest case is just merging the streams written by each journal actor. If the merged stream shall be repeatable it must be persisted before delivering it.

This is fine as long as streams written by different journal actors are independent of each other. This is usually not the case: if a persistent actor is migrated fro

[2015-09-19 07:39] krasserm commented on #77
Regarding re-ordering of events written by older journal versions, I wouldn't even try to do that but rather deliver the events for each persistent actor independently, either sequentially of interleaved. Applications shouldn't care anyway because they must assume that events with different `persistenceId` are not related.

In other words, events written by older journal versions can be used but t

[2015-09-19 07:50] krasserm commented on #77
To clarify, the aforementioned *total order* is not necessarily wall clock time order (although it may come close).

[2015-09-20 15:30] greenhost87 commented on #89
Any news about build with 2.4 compatibility in your repo?

[2015-09-21 16:31] gvolpe commented on #89
Hi, I'm wondering the same. The last version in your repo is the 0.3.9 http://dl.bintray.com/krasserm/maven/com/github/krasserm/akka-persistence-cassandra_2.11/

Thanks,
Gabriel.

[2015-09-22 05:15] #89 closed

[2015-09-22 05:16] krasserm commented on #89
See https://github.com/krasserm/akka-persistence-cassandra#development-snapshot

[2015-09-22 09:16] gvolpe commented on #89
Thanks a lot @krasserm

[2015-09-23 09:36] KealanM commented on #89
Forgive a maven new comers stupid question but is there a problem in the snapshot published? I keep getting a failing to resolve error.

Looking at it the maven metadata points to 0.4-20150922.050452-1 as the latest version but the jar itself is publish as 0.4-20150922.050454-2.

Again a maven newcomer so I could be completely wrong.

Cheers,
Kealan

[2015-09-23 10:18] krasserm commented on #89
Just tried but cannot reproduce (see logs). Have you set the repository URL to https://oss.jfrog.org/oss-snapshot-local? If yes, can you please share your `pom.xml` or `build.sbt`?

`mvn` log:

<pre>
[INFO] ------------------------------------------------------------------------
Downloading: https://oss.jfrog.org/oss-snapshot-local/com/github/krasserm/akka-persistence-cassandra_2.11/0.4-SNAPSHOT/m

[2015-09-23 10:33] KealanM commented on #89
It was my issue :(. I had set the resolver but in the wrong build.sbt! I'll go sit on the bold step for a while.

Thank you for getting back to me.
Kealan

[2015-09-23 10:39] krasserm commented on #89
No worries :smiley:, glad I could help ...

[2015-09-26 11:58] zapletal-martin commented on #77
Thanks @krasserm . It is a significant change in current functionality. It will be crucial to implement the stream merging / master to index. It should then be possible to achieve the desired guarantees as described before.

One thing where I am not still completely clear architecture wise is what is the indisputable advantage of separating master and index. The option I am considering as an alter

[2015-10-01 14:12] chbatey commented on #90
Closing as this is known and documented.

[2015-10-01 14:12] #90 closed

[2015-10-01 17:41] zapletal-martin commented on #77
Regardless of the master-index representation we need to have a discussion about data representation.

### EventsByPersistenceId
##### Queries
- select event by persistence_id, partition_nr using sequence_nr offset.

The existing table representation PRIMARY KEY ((persistence_id, partition_nr), sequence_nr)) should efficient support the above query and therefore both Persistence Query and replayin

[2015-10-04 06:36] krasserm commented on #77
It's the same advantage how all databases internally use a transaction log (= master) and derive structured tables from it (= index). With event sourcing and CQRS this separation is visible to the application and entries in the transaction log (= event log) are usually not deleted. Writes to the master should be atomic and isolated (see also #48).

This is in general independent how the master is

[2015-10-04 07:57] krasserm commented on #77
Here are some thoughts regarding data processing and representation of which I think they could solve the issues you mentioned in your previous comment. I make the following assumptions:

- Each journal actor writes to a separate log (as described [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-141632778)). These logs contain the master data.
- A total order of

[2015-10-04 21:05] sdab75 opened #95 "akka cassandra persistence with java example"
Hello,

Using Java I am trying to test the akka cassandra persistentence using java. From the URL (http://doc.akka.io/docs/akka/2.4.0-RC3/java/persistence.html) I am trying to make the PersistentActorExample work with cassandra and I am running into the following problems.

I am using below mentioned application.conf. Do you guys have any java implementation sample that I could use to get started?

[2015-10-05 05:33] krasserm commented on #95
Use version 0.4 of akka-persistence-cassandra. See https://github.com/krasserm/akka-persistence-cassandra#latest-release. Also, use Akka 2.4.0 instead of 2.4.0-RC3.

[2015-10-05 05:33] #95 closed

[2015-10-06 20:46] zapletal-martin opened #96 "Persistence Query Master Data Management Write Side"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

Requirements [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-137366007) and [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-145325125).

[2015-10-06 20:49] zapletal-martin opened #97 "Persistence Query Stream Merging Component"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

Requirements [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-141632778) and [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-145322596).

[2015-10-06 20:52] zapletal-martin opened #98 "Persistence Query Index Management"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

Requirements [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-137366007) and [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-145325125).

[2015-10-06 20:53] zapletal-martin opened #99 "Persistence Query Stream Production"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

Requirements https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-137366007

[2015-10-06 20:55] zapletal-martin opened #100 "Persistence Query Replay"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

Requirements https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-137366007 and https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-145325125

[2015-10-06 20:56] zapletal-martin opened #101 "Persistence Query Migration"
Part of https://github.com/krasserm/akka-persistence-cassandra/issues/77

The new master/index data management structure defined in https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-137366007 will require migration from older akka-persistence-cassandra versions.

[2015-10-06 21:06] zapletal-martin commented on #77
I have created a few issues to track each subtask of the Persistence Query work as designed here. I have also updated the description of this issue to track progress on the other tickets. Each issue can then be discussed here or in their dedicated ticket and each issue should be associated to a PR.

I think it makes sense to start with https://github.com/krasserm/akka-persistence-cassandra/issues/

[2015-10-07 05:39] krasserm commented on #77
+1

[2015-10-10 10:25] zapletal-martin commented on #77
Thanks @krasserm, a very helpful analysis. I have a few more points for discussion, but I believe proper analysis of the problem and solution will make the actual implementation relatively simple.

Writing the master while maintaining persistenceId causality is relatively straightforward. But the design of master may largely impact the design of the stream merging component which is a critical par

[2015-10-11 20:31] asnare commented on #64
I've been getting some questions from people trying to migrate their systems from 0.3 to 0.4. As far as I can tell, the schema changes are:

 * Rename the `processor_id` column to `persistence_id`
 * Drop the `marker` (clustering key) column.
 * Add the static `used` column.

However 0.3 creates tables with the `compact storage` option. This means, amongst other things, that `marker` column can't

[2015-10-12 23:27] masterzen opened #102 "Cassandra read timeout during recovery"
This is more an help request for troubleshooting a production issue than a formal bug report.

On an ActorSystem running with akka 2.4.0-RC3 (and a custom build of 0.4 journal of a couple of weeks ago) with several persistent actors, if after a time, the system restarts and all persistent actors recover, the `session-SW` always fails with the following error:
[code]

Before that happens, a lot of

[2015-10-13 04:08] krasserm commented on #64
@asnare copying data into the new schema can be made parallel to a running old application. When the initial data migration is finished, the old application needs to be stopped and the remaining small fraction of old data needs to be migrated in a second step. This should keep the downtime at a minimum.

[2015-10-13 04:29] krasserm commented on #102
- have you tried with the released version?
- what changes have you made to the plugin?
- how big are the snapshots you're writing to Cassandra?
- what Cassandra version are you using?

The `ReadTimeoutException` comes from a [static column read](https://github.com/krasserm/akka-persistence-cassandra/blob/v-0.4/src/main/scala/akka/persistence/cassandra/journal/CassandraRecovery.scala#L128) and @ch

[2015-10-13 05:29] krasserm commented on #77
@zapletal-martin I'm still for option 1 (one physical stream per write journal instance)

I agree that the stateful stream merge is not trivial but I also don't see this as a hard-to-solve problem: partitioned persistenceId streams need to be aligned by making selective read progress in the physical streams which sounds manageable to me.

Selective read progresses are driven by detected causality

[2015-10-13 06:31] masterzen commented on #102
There's no changes to the plug-in, it's just a local build of master before you published 0.4 . I will of course try 0.4 as soon as I can. There's only one snapshot of several hundred bytes, and about 500 events to recover after the snapshot.

It's with Cassandra 2.1.9.

I'll try to simulate the requests to see what can be the problem, but I think it's some Cassandra configuration issue. I'll post

[2015-10-13 22:28] masterzen commented on #102
This is probably not related to `akka-persistence-cassandra` but to our cassandra cluster.
Running the following query:
[code]
which maps to the `findHighestSequenceNr` in the recovery code, also times out when run on some node with consistency ONE.

Out of our 3 nodes cluster, only one is able to send back the response in time.
I have no idea why, though.

[2015-10-14 07:07] krasserm commented on #102
Right, seems to be related to the Cassandra cluster setup but I'm also not able at the moment to give a hint how to fix that problem. Closing this ticket then ...

[2015-10-14 07:07] #102 closed

[2015-10-14 20:22] zapletal-martin commented on #77
It is not trivial to solve it with bounded resources was what I meant to say.

The option one has two disadvantages in that regard. Assume we have a globally unique identifier for each journal instance. New journal instances may be created and old ones may be removed (the stream is of course persistent). So we need to keep track of the existing streams and their progress. Given the cluster members

[2015-10-16 12:36] kpbochenek opened #104 "target-partition-size synchronization issue"
Chances that this will happen are very low but I would like to mention this.

Let's say we start 2 instances with akka-persistence-cassandra with different target-partition-size and empty cassandra instance.

Both reach a point where they check if 'target-partition-size' is set and if not then they insert their value.
When they do that in the same time last write will be persisted and we will end

[2015-10-18 09:02] krasserm commented on #77
Instead of looking at index tables we might also let the stream-merge processor write the (journal-id, persistenceId, sequenceNr) tuples to a local LevelDB, for example, that is private for that processor. If that DB gets lost, one should be able to recreate it from the index and progress pointers. Would that solve the bounded resource problem in your opinion?

[2015-10-18 09:30] krasserm commented on #104
@kpbochenek good catch! Do you want to create a pull request?

[2015-10-18 11:28] chbatey commented on #104
Good idea!

[2015-10-18 11:29] chbatey commented on #64
I've removed old data so far. I plan to write a small spark job to migrate old data in the future.

[2015-10-18 20:28] zapletal-martin commented on #77
@krasserm, would it be a good idea to create a new branch for persistence query? I have done some work for the write side and the stream generation and I will start creating pull requests soon. But the changes are largely changing/breaking the current functionality and require additional work to work properly (all the issues we created for persistence query together). So it would be great to have

[2015-10-19 07:44] krasserm commented on #77
@zapletal-martin that's a good idea. I created https://github.com/krasserm/akka-persistence-cassandra/tree/wip-persistence-query. Looking forward to your pull requests and many thanks for all the effort you put into it.

[2015-10-19 08:07] jypma commented on #77
Unaware of this ticket, we've been writing a time-based indexing [branch of akka-persistence-cassandra](https://github.com/krasserm/akka-persistence-cassandra/pull/103), where events can be queried by time using the `offset` field in `GetEventsByTag`. The query implementation is in [akka-persistence-cassandra-query](https://github.com/jypma/akka-persistence-cassandra-query). Tags themselves aren't

[2015-10-19 15:10] kpbochenek commented on #104
@krasserm PR created.

I changed approach a little but it should be self-explained in code.

[2015-10-19 22:57] zapletal-martin commented on #77
@jypma I am sure there will be places to help! I will have a look at your branch. So far I only had a chance to briefly look at the query/streams and it looks interesting. I implemented similar functionality using an actor as a source for the stream which gives us great control, but could potentially be simplified using streams.

I have also implemented the master table (PR to be created soon) and

[2015-10-21 08:09] krasserm commented on #104
LGTM, after fixing the issues mentioned in the comments. When done please squash your commits and I'll merge to master. Many thanks for your contribution, good work!

[2015-10-27 06:03] axiom24 opened #109 "allEvents and eventsByTag query implementation for Persistence Query"
Currently only eventsByPersistenceIds is implemented. Need All Events and EventsByTag Queries as well.

[2015-10-27 14:09] jparkie commented on #67
I've been very busy with starting school again, so I started working on this today. :) I ported over all the compaction strategies as defined in https://github.com/apache/cassandra/tree/cassandra-2.2/src/java/org/apache/cassandra/db/compaction and http://docs.datastax.com/en/cql/3.1/cql/cql_reference/compactSubprop.html.

[2015-10-28 05:53] krasserm commented on #109
This is covered by #77.

[2015-10-28 05:53] #109 closed

[2015-11-11 18:12] masterzen opened #113 "Very slow replay message request seems to prevent message write to complete"
Hi,

I've observed the following unexplained behavior in production with 0.4 and cassandra 2.1.11:

* actor A recovers (or at least replays messages)
* actor B is using `persist` at about the same time
* actor B `persist` block is completed about 40s after receiving the event
* the cassandra-driver logs the following:
[code]

The result shown above is the one from the [selectInUse query](https://g

[2015-11-12 07:43] masterzen commented on #113
Note that the manual recommends using `DISTINCT` when selecting only a static column:

Unfortunately this doesn't seem to speed up the query for me.

[2015-11-12 14:18] gvolpe opened #114 "Using different tables of Cassandra for sharding coordinator"
Hi @krasserm,

In the latest version of Akka 2.4 we have the [option](
http://doc.akka.io/docs/akka/2.4.0/scala/cluster-sharding.html#Configuration) to specify a **journal-plugin-id** and **snapshot-plugin-id**. With this option it might be possible to use the same Cassandra persistence plugin but using different tables. I was trying to do it by creating a similar configuration to the current **ca

[2015-11-12 14:46] patriknw commented on #114
In 2.4 the plugin may have a constructor with a `Config` parameter, which corresponds to the config section that the user has defined. So instead of reading config from hardcoded "cassandra-journal", you can use the config parameter. I'm not sure that will help you in any way.

[2015-11-12 14:58] gvolpe commented on #114
Can you specify where @patriknw? The main reason I introduced this changes is because I want to use the same classes CassandraJournal and CassandraSnapshotStore but with different configurations, otherwise I have to create my own class when the only thing I need is just to specify another table name for cluster sharding.

Thanks,
Gabi.

[2015-11-12 15:03] patriknw commented on #114
[CassandraJournal](https://github.com/krasserm/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/journal/CassandraJournal.scala#L23) should be defined as:

[code]

Same with [CassandraSnapshotStore](https://github.com/krasserm/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/snapshot/CassandraSnapshotStore.scala#L20)

[2015-11-12 15:26] gvolpe commented on #114
Ok got it now. Anyway this means that we need changes in the Cassandra plugin. The only difference I see is that currently the class is using the config from the context of the Actor System of the actor AsyncWriteJournal and with this new constructor the configuration is taken from the outside, I'm not sure if this might be a problem.

[2015-11-12 15:40] patriknw commented on #114
I'm not sure I have understood what you are trying to solve, but the config constructor parameter makes it possible to use more than Cassandra plugin and each can have its own configuration. Sorry if you are trying to solve something else. I should probably open my own issue, and fix it.

[2015-11-12 15:45] gvolpe commented on #114
I think that with the Config as a parameter of the class we should be able to get our stuff working (not present in version 0.4). Anyway we are good with the current changes that we introduced. They are in the fork commented above if someone is interested.

I close this issue now.

Thanks,
Gabi.

[2015-11-12 15:45] #114 closed

[2015-11-12 15:48] patriknw opened #115 "Config constructor parameter"
In Akka 2.4 the plugin may have a constructor with a Config parameter, which corresponds to the config section that the user has defined. So instead of reading config from hardcoded "cassandra-journal", we should use the config parameter.

CassandraJournal should be defined as:

[code]

Same with CassandraSnapshotStore.

This makes it possible to use more than one Cassandra plugin and each can hav

[2015-11-12 15:49] patriknw commented on #114
New issue: https://github.com/krasserm/akka-persistence-cassandra/issues/115

[2015-11-13 05:20] krasserm commented on #115
Thanks for the hint @patriknw. @gvolpe, are you interested in making a PR? I currently don't have the bandwidth to work on that issue.

[2015-11-13 05:30] matlockx commented on #115
I can do that

[2015-11-13 05:31] krasserm commented on #115
@matlockx awesome, thanks a lot!

[2015-11-13 13:15] patriknw commented on #115
@matlockx please change to `lazy val session` at the same time. Otherwise the actor can throw  from constructor if cassandra is not running, and that will stop the actor.

[2015-11-15 15:38] matlockx commented on #115
@Patriknw Ok,did it. Pull request comes later. I've written a test which configures two actors to use same persistenceId but different tables, then saves some messages, recovers the actors and checks whether they have not influenced themselves (comparing the last sequence number). Do you think that is enough or is there a better way to test it?

[2015-11-15 19:53] patriknw commented on #115
Sounds like a great test, thanks.

[2015-11-16 07:41] patriknw commented on #77
@krasserm @zapletal-martin Now, when Cassandra 3.0 is released with the new Materialized Views, do you still see any reason for not using them? The EventsByTag query is important for the project that I'm currently working on so I would like to help out implementing it.

I played around with materilaized views and here is a cqlsh session for EventByTag: https://gist.github.com/patriknw/4bcec28b8d3e

[2015-11-16 10:40] chbatey commented on #77
hey @patriknw is this going to production any time soon? MVs are a very experimental feature I would wait for a major release before using.

[2015-11-16 10:58] patriknw commented on #77
so you are saying that MVs in Cassandra 3.0 is not production ready?

[2015-11-16 11:04] chbatey commented on #77
Definitely not, normally 6 months for a major release to become stable, especially any headline feature e,g Light Weight Transactions for 2.0.

[2015-11-16 11:12] patriknw commented on #77
Thanks for the information.
Anyway, Akka Persistence Query is also experimental, and I doubt that we will be able to implement manual materialized views in a better way than what is done in C*. However, there might be something missing feature wise?

[2015-11-16 12:58] chbatey commented on #77
For EventsByTag I can't see any issues feature wise. However we'd need to be careful about partition size, we wouldn't want it to get more than a few million events with the same tag.

To get around the problem for persistenceId in the raw data table we add out own synthetic partitioning which we could do for the eventsbytag table if it was hand crafted rather than using the built in MV feature.

[2015-11-16 13:17] patriknw commented on #77
That is a good point.

Another thing I'm uncertain about is what we can use as offset column. I was thinking of a `timeuuid`, but that might be too weak?

[2015-11-16 13:23] zapletal-martin commented on #77
I would generally be in favour of using materialized views over custom solution, because it would simplify the solution and some of the difficult problems would be solved for us. But there are a few things I can see as potential issues.

1) Do we know if materialized views provide causal consistency in addition to eventual consistency?
2) Materialized views have PK limitations, including - need to

[2015-11-17 05:06] krasserm commented on #77
I share your concerns @zapletal-martin, especially the causal consistency concern. Since our raw data table is partitioned and there's only eventual consistency between a table and its corresponding MV, we might end up in the following situation:

Given that event<sub>i</sub> is written to partition<sub>j</sub> and then event<sub>i+1</sub> is written to partition<sub>j+1</sub>, **the MV update for

[2015-11-17 07:11] chbatey commented on #77
No. I had a similar example typed up on my phone. The writes to the MV are asynchronous so a newer MV write could potentially overtake an older one.

[2015-11-17 07:25] patriknw commented on #77
Interesting questions, indeed. They discuss consistency in length in [CASSANDRA-6477](https://issues.apache.org/jira/browse/CASSANDRA-6477), but I'm not sure what the conclusion or implementation is.

I assume that MV is updated in the same order as the base table for one partition, i.e. we have causal consistency per persistenceId (with some caveat when we change partitionId for a persistenceId).

[2015-11-17 13:19] chbatey commented on #77
I am not sure we can assume that. Writes for persistenceid seq nr 1 could go to one node, seq nr 2 could go to another node and the async replication of the MV for write two could be come available before 1.

Joel Knigton (@joelknighton) did some testing with Jepson for MVs, will ask him to take a look.

[2015-11-18 12:37] hseeberger opened #119 "Add support for Cassandra 3.0"
[code]

[2015-11-19 03:34] zapletal-martin commented on #77
Yes that is a solution that would work. It however explicitly chooses certain tradeoffs (e.g. not guaranteeing exact same results, causality and exploiting randomness instead of guaranteed correctness). Given how MVs seem to work we would have to choose some tradeoffs in any case.

It seems the decision is not as much about implementation details, but about conceptual correctness, implementation d

[2015-11-19 10:32] matlockx opened #121 "Remove schema creation from CassandraJournal and CassandraSnapshotStore"

[2015-11-19 10:34] matlockx commented on #121
by @krasserm:
"I think keyspace and table creation should be done by a singleton that journal actors delegate to during initialization, so that these things can be executed sequentially. Journals would need to support asynchronous initialization then."

[2015-11-19 10:36] matlockx commented on #121
How do you do that in an akka cluster? I can think of a situation where two nodes are spawning actors with different configs causing the same concurrent schema creation problem or is this unrealistic?

[2015-11-19 10:59] patriknw commented on #121
+1 for retrying (a few times)

[2015-11-19 12:44] patriknw commented on #119
I have something for this, see https://github.com/krasserm/akka-persistence-cassandra/pull/122

[2015-11-19 13:29] krasserm commented on #121
Right, I was just considering the case where we have n journal instances in the same `ActorSystem`. In a cluster setup, retrying is a much simpler solution. Here's my +1.

[2015-11-22 00:19] zapletal-martin commented on #77
I attempted an implementation of the solution that uses Cassandra's materialized views. It involves storing Tag, changes to replay, event by tag query actor. The implementation seems to be pretty simple for the eventsByTag query. We could subpartition the data based on a timestamp (either configurable by user based on their needs or year/month/day etc.). Alternatively we could use a different stor

[2015-11-22 07:17] krasserm commented on #77
@zapletal-martin thanks for your spot-on analysis. At least for the projects I work(ed) on

would be a blocker. Furthermore, I also think that

is an important aspect for the long-term evolution of akka-persistence-xxx storage plugins. For example, using a Kafka/Cassandra hybrid where raw logs (written by journal actors) are stored in Kafka topic partitions and indices in Cassandra might be an int

[2015-11-22 12:55] patriknw commented on #77
I have also put together a prototype of EventsByTag query using materialized view. I see no blockers for the needs I have in my current project.

I think I can achive right replay order for each persistenceId without too much trouble. As I understand it you want more causaility guarantees across different persistenceIds. With the custom indexer you have outlined you can achive causality per writin

[2015-11-22 13:03] krasserm commented on #77
@patriknw @zapletal-martin sound good to me!

Regarding

I let @zapletal-martin answer that :-)

[2015-11-22 23:28] #104 closed

[2015-11-22 23:48] zapletal-martin commented on #77
Replay order is not an issue if you are storing events partitioned by persistenceId as currently. I believe the goal is to achieve causality control for view precomputation, e.g. per persistenceId or tag. So you avoid issues such as first query returns events 1,2,4 and the same query run again returns 1,2,3,4.

I am not sure I understand your comment. I assume by location transparency you mean an

[2015-11-23 09:24] patriknw commented on #77
Let me clarify with an example. We have persistent actors A and B.
1. persist event a1 and a2 in A
2. send a comand from A to B
3. when receiving the command persist b1 and b2 in B

All these events are tagged with same tag. You want to guarantee causual consistency so that EventsByTag returns a stream with events in order a1, a2, b1, b2 if A and B were using same journal instance, but if A and B

[2015-11-23 09:49] krasserm commented on #77
This can not be guaranteed when making a query by tag from the MV. This may arise if

- the journal writes a1 then a2 and a3
- Cassandra updates the MV with a1 then a3 and then a2 (independent async updates as mentioned [here](https://github.com/krasserm/akka-persistence-cassandra/issues/77#issuecomment-157368761)).
- a read between the 2nd and 3rd MV update returns a1, a3 which violates causal co

[2015-11-23 12:28] patriknw commented on #77
Then I'm sorry that I completely misunderstood what you were refering to with casaul consistency. I thought you meant across different persistentIds.

I'm aware about the async nature of MV and my plan in to solve that on the read side using the sequence number per persistentId.

[2015-11-23 13:17] krasserm commented on #77
No problem. Causal consistency is usually discussed in context of what you described. We've just used the more general definition here: an effect must never be observed before its (potential) cause.

[2015-11-23 14:19] zapletal-martin commented on #77
For persistenceId we have the sequenceNr so we can achieve causality. There is no ordering defined across the journal instance "streams" so your example is right for tag query. I wonder if there is a way to infer a single total order for tags (any repeatable same order with causality by persistenceId).

That sounds like a good idea to me. You may be facing some of the same difficulties that we are

[2015-11-23 15:23] krasserm commented on #77
Sounds good to me.

[2015-11-23 18:40] patriknw commented on #77
I'll create the branch tomorrow morning and open the first pull request.

[2015-11-23 22:47] kpbochenek commented on #113
You said that you can trigger timeout with "selectInUse" query from cqlsh which means this is rather not related to akka / cassandra.
My initial thought was it can be an issue with many tombstones / badly partitioned data but with snapshot copied to another cassandra that should not be an issue(but to be sure can you try nodetool compaction and try again this query?)

I tried to reproduce it on si

[2015-11-24 00:35] zapletal-martin commented on #77
@krasserm @patriknw I have created wip-materialized-views-persistence-query branch.

I have also created https://github.com/krasserm/akka-persistence-cassandra/pull/124 branch which contains the bits that I think are relevant to the implementation using materialized views. Some of them are duplicated in Patrik's branch which is fine. But in my opinion some code is quite valuable and would be great

[2015-11-24 07:08] patriknw opened #126 "SSLOptions for Cassandra 3.x?"
I'm not sure what options to use. See https://github.com/krasserm/akka-persistence-cassandra/pull/125/files#diff-375e3fbd9dedf3315dec182fc5ecb518R69

[2015-11-24 07:39] patriknw commented on #119
Fixed in https://github.com/krasserm/akka-persistence-cassandra/pull/125

[2015-11-24 07:39] #119 closed

[2015-11-25 05:55] matlockx commented on #115
Can we close this based on #116  and #121 c

[2015-11-26 06:06] #115 closed

[2015-11-26 11:15] patriknw commented on #77
I have implemented `eventsByTag` using materialized views. It's ready as far as I can see. Please review.
Let's discuss in the PR. https://github.com/krasserm/akka-persistence-cassandra/pull/128

[2015-11-26 12:56] hseeberger opened #130 "Can't connect to Cassandra 3.0"
Using v0.5, I can't connect to Cassandra 3.0:

Caused by: com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried for query failed (tried: /192.168.99.100:9042 (com.datastax.driver.core.exceptions.InvalidQueryException: unconfigured table schema_keyspaces))

[2015-11-26 13:25] patriknw commented on #130
works for me, are you using

    "com.github.krasserm" %% "akka-persistence-cassandra3" % "0.5"

note the 3 in the artifact name

[2015-11-26 13:30] hseeberger commented on #130
Ah, damn, missed the 3!
Thanks!

[2015-11-26 13:30] #130 closed

[2015-11-26 13:34] hseeberger opened #131 "Rename artifact for Cassandra 3 from ...dra3 to ...dra_3"
It's just too easy to not notice the version number for Cassandra.

[2015-11-26 13:40] patriknw commented on #131
I agree. My bad. It's already changed in my other PR: https://github.com/krasserm/akka-persistence-cassandra/pull/128/files#diff-fdc3abdfd754eeb24090dbd90aeec2ceR5

[2015-11-30 22:26] masterzen opened #135 "Deleting message generates batches of single delete"
This is more a question than an issue.

If you look at how messages are deleted, the Akka API just allows to tell up to which `sequence_nr` you want to delete the messages.
The current implementation is building a batch of single deletion of the 'record' `((persistence_id, partition_nr), sequence_nr)` for all `sequence_nr` from lowest to the given `sequence_nr`. All the batches are submitted in pa

[2015-12-01 09:32] patriknw commented on #131
Fixed in https://github.com/krasserm/akka-persistence-cassandra/pull/128
New name: `akka-persistence-cassandra-3x`

[2015-12-01 09:33] patriknw opened #136 "Update to Akka 2.4.1"
and don't support rejections

[2015-12-01 09:34] patriknw commented on #136
Fixed in https://github.com/krasserm/akka-persistence-cassandra/pull/128 and https://github.com/krasserm/akka-persistence-cassandra/pull/134

[2015-12-01 10:50] #131 closed

[2015-12-01 10:55] patriknw commented on #64
Another schema change I would like to do at some point is to not store the `PersistentRepr` as a serialized blob, but add additional columns and only only store the event as a blob. I think that can be done in a backwards compatible way, but wanted to mention it here also.

[2015-12-02 05:05] krasserm commented on #135
According to the [DELETE reference documentation](http://docs.datastax.com/en/cql/3.3/cql/cql_reference/delete_r.html), range deletions aren't supported. Do I miss something?

[2015-12-02 07:28] sebastiaansamyn-tc commented on #64
@patriknw would be a big improvement.

[2015-12-02 07:54] masterzen commented on #135
@krasserm, oops my bad. It seems I've overlooked something, as it is apparently something available only in Cassandra 3 (see https://issues.apache.org/jira/browse/CASSANDRA-6237).

I'm wondering if we could use `IN` on older cassandra, but I don't think it would support composite keys.

[2015-12-02 08:03] krasserm commented on #135
Ah didn't see that for Cassandra 3. @patriknw and @zapletal-martin are working on the [Cassandra 3](https://github.com/krasserm/akka-persistence-cassandra/tree/cassandra-3.x) branch. This would be a nice addition there.

[2015-12-07 09:56] patriknw opened #137 "avoid blocking Cassandra API calls"
The blocking API is used way too much. We should use the async API. Most important is to improve this in the replay (iterator), but it should be revisited for all other things also, such as connect and prepare.

[2015-12-07 09:58] patriknw opened #138 "avoid throwing exception when plugin actors are started"
Because that will cause them to stop. Instead the init of the session should be lazy (not in constructor) and be retried so that the Cassandra server can be started after the plugin.

[2015-12-08 00:19] magro commented on #87
We're occasionally getting WriteTimeoutExceptions (e.g. "Cassandra timeout during write query at consistency LOCAL_QUORUM (2 replica were required but only 1 acknowledged the write") and therefore I'm thinking about adding retries (we've 100s of thousands events to replay).

Should we start with the FixedRetryPolicy and make "write-timeout-retries" configurable?

[2015-12-09 09:55] franbh opened #143 "cold_reads_to_omit parameter is not C* 2.2.x compatible"
This is due to the fact that the cold_reads_to_omit parameter belonging to SizeTieredCompactionStrategy (introduced in https://github.com/krasserm/akka-persistence-cassandra/pull/110) is not allowed in C* 2.2.x: https://issues.apache.org/jira/browse/CASSANDRA-9997

Using SizeTieredCompactionStrategy throws the following exception:

Dec 09 08:25:59: 08:25:59.260UTC ERROR akka.actor.OneForOneStrateg

[2015-12-09 10:04] patriknw commented on #143
How is this related to https://github.com/krasserm/akka-persistence-cassandra/pull/132
in which cold_reads was removed (will be released in 0.6)?

[2015-12-09 10:09] franbh commented on #143
Yeah sorry..., it's great to see it fixed. Looking forward for 0.6 then :-)

[2015-12-09 10:09] #143 closed

[2015-12-09 15:46] masterzen commented on #113
It looks like I forgot to answer you @kpbochenek.

It probably is a problem related to tombstones. But even with a moderate amount of tombstones (ie around 100 to 1000), I had the issue. The problem disappeared as soon as I stopped deleting prior messages when taking a snapshot.

I think it is a combination of using static columns and (ab)using cassandra as a queue (deleting events at the front, a

[2015-12-10 13:45] #136 closed

[2015-12-10 13:46] patriknw commented on #138
Fixed in https://github.com/krasserm/akka-persistence-cassandra/pull/144 and https://github.com/krasserm/akka-persistence-cassandra/pull/139

[2015-12-10 13:46] #138 closed

[2015-12-10 13:48] patriknw commented on #109
eventsByTag is included in upcoming cassandra-3x 0.6 version

[2015-12-11 11:01] #87 closed

[2015-12-14 21:39] hseeberger opened #148 "Potential race on keyspace initialization"
I have observed a potential race issue with version 0.6 for Cassandra 3 when the database is clean:

[code]

This happens when an Akka Persistence based application is started for the first time. After restarting everything is fine.

To reproduce this an easy way, I suggest you use the Docker image for Cassandra.

[2015-12-15 05:55] matlockx commented on #148
I also had this issue several times, especially in the tests. I mentioned that in #121
I think the only way out, as said there and in #116, is to do a retry around schema and table creation. Planning to work on it this weekend. Any other ideas?

[2015-12-31 08:53] kiequoo opened #151 "CassandraReadJournal doesn't create metadata table"
If I try to call eventsByTag from `CassandraReadJournal` before any events have ever occurred in my app, I get an error

`[info] 2015-12-31 09:34:49,111 DEBUG a.p.c.q.s.CassandraReadJournal - Could not run eventsByTag [TariffConfig] query, due to: unconfigured table metadata`

It seems `akka.persistence.cassandra.query.scaladsl.CassandraReadJournal` does not create this metadata table, it is only

[2015-12-31 12:26] aphexmunky commented on #151
What build are you using? have you merged in PR that isn't ready?

[2015-12-31 12:34] kiequoo commented on #151
Sorry, forgot to say.  I'm using akka-persistence-cassandra-3x v0.6

[2015-12-31 15:45] patriknw commented on #151
That is probably an oversight, thanks for reporting

[2016-01-06 22:12] countfloyd opened #153 "Using eventsByTag gives Exception"
When trying to use the eventsByTag stream, I get the following exception:

[ERROR] [01/06/2016 15:10:33.243] [datumo-akka.actor.default-dispatcher-33] [akka://datumo/user/$b/flow-1-0-eventsByTag-user-actorPublisherSource/$a] swallowing exception during message send
java.io.NotSerializableException: com.datastax.driver.core.ArrayBackedResultSet$SinglePage
	at java.io.ObjectOutputStream.writeObject0

[2016-01-06 22:13] countfloyd commented on #153
I'm using Cassandra 3.1.1 with akka-persistence-cassandra-3x 0.6

[2016-01-06 22:29] countfloyd commented on #153
Tried with Cassandra 3.0.2 -- same problem.

[2016-01-06 22:40] countfloyd commented on #153
Looks like it's trying to use Java serialization to serialize an object of type EventsByTagFetcher.InitResultSet which contains a com.datastax.driver.core.ResultSet object.

[2016-01-07 11:08] patriknw commented on #153
@countfloyd Thanks for reporting. I will fix this.
The reason is that you have configured:
`akka.actor.serialize-messages=on`

I will disable the serialization check for those local messages.

[2016-01-07 17:09] countfloyd commented on #153
Thanks @patriknw ! Now I can get my code to work by turning serialize-messages off.

[2016-01-09 18:46] countfloyd opened #154 "I think the persistence query streams should work even if schema doesn't exist"
For example, the first time I start an akka persistence based app, the keyspaces and tables don't yet exist, but I want to start an eventByTag stream for any future events. It seems to fail and I don't get any events in my stream even after persisting some. If I restart the app with the journal keyspace and table existing, it works fine.

[2016-01-10 19:34] patriknw commented on #154
I agree, that should be possible. Must be an oversight.

[2016-01-11 13:57] patriknw commented on #148
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/4

[2016-01-11 13:57] #148 closed

[2016-01-11 13:57] patriknw commented on #154
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/4

[2016-01-11 13:57] #154 closed

[2016-01-11 13:57] patriknw commented on #151
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/4

[2016-01-11 13:57] #151 closed

[2016-01-11 13:57] patriknw commented on #121
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/4

[2016-01-11 13:57] #121 closed

[2016-01-11 13:59] patriknw commented on #153
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/5

[2016-01-11 13:59] #153 closed

[2016-01-11 14:00] patriknw commented on #137
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/6

[2016-01-11 14:00] #137 closed

[2016-01-11 14:01] patriknw commented on #135
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/7

[2016-01-11 14:01] #135 closed

[2016-01-11 14:02] patriknw commented on #126
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/8

[2016-01-11 14:02] #126 closed

[2016-01-11 14:02] patriknw commented on #113
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/9

[2016-01-11 14:02] #113 closed

[2016-01-11 14:04] patriknw commented on #67
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/10

[2016-01-11 14:04] #67 closed

[2016-01-11 14:04] patriknw commented on #64
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/11

[2016-01-11 14:04] #64 closed

[2016-01-11 14:05] patriknw commented on #50
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/12

[2016-01-11 14:05] #50 closed

[2016-01-11 14:29] patriknw commented on #43
that is out of scope of this project

[2016-01-11 14:29] #43 closed

[2016-01-11 14:30] patriknw commented on #21
Continued here: https://github.com/akka/akka-persistence-cassandra/issues/13

[2016-01-11 14:30] #21 closed

[2016-01-11 14:32] patriknw commented on #5
I don't know what this means. Please clarify with new issue at https://github.com/akka/akka-persistence-cassandra if it is important. We are rewriting the blocking replays in https://github.com/krasserm/akka-persistence-cassandra/pull/146

[2016-01-11 14:32] #5 closed

[2016-01-11 14:34] patriknw commented on #77
@zapletal-martin I have not migrated this and (sub-issues) to akka/akka-persistence-cassandra.

[2016-04-27 14:33] patriknw commented on #104
@kpbochenek I see that the `IF EXISTS` statement was added in https://github.com/akka/akka-persistence-cassandra/commit/3210b190e24f3ff055e2f0986c7baf81591a430a
and that there were good reasons, but it means that the consistency level will be `SERIAL` and it looks like then it will fail if one of three nodes is down. Is it worth this heavyweight consistency level (involving paxos and such) and not

[2016-04-28 00:19] kpbochenek commented on #104
@patriknw when one of three nodes is down SERIAL is still working.
This check happens only once on start which doesn't introduce any performance issues at all.

I think this is like keyspace/table autocreation (they are also executed as SERIAL) maybe we could make this configurable?

[2016-04-28 04:48] patriknw commented on #104
Good point that it's only used when the table is empty, first start. Thanks

[2016-04-28 10:04] chbatey commented on #104
Agreed. LWTs should be avoided nearly all the time but this is just startup. They require a quorum of nodes up for the partition they operate on. Like with other reference data tables it can often be useful to increase the RF so two nodes in a large cluster doesn't make the data unavailable at quorum at the expense of much slower reads/writes.

[2017-03-14 23:22] ashishsoni opened #156 "Is there any documentation or examples how do i use this lib"
Is there any documentation or examples how do i use this lib

[2017-03-15 00:01] ktoso commented on #156
Heh, no need to run around all repos and ask the same.
I believe I answered here: https://github.com/akka/akka-persistence-cassandra/issues/162

[2017-03-15 06:31] #156 closed

[2017-07-20 21:19] chandrujsr commented on #49
I found the same issue in my location when i use embedded cassandra(CassandraLauncher) for unit testing, where 2 different test classes access the base  embeddedcassandra class(which creates keyspace) parallel.

[2018-09-21 17:16] Natarajan77 opened #158 "Install multi DC cassandra on two separate Openshift Origin clusters to get HA and DR"
Install multi DC cassandra on two separate Openshift Origin clusters to get HA and DR

We are in the process of installing Cassandra as multi DC on Openshift origin and running into challenges.

So we have two openshift clusters which are separated by Datacenter

Openshift Origin AB hosted in datacenter ELC

Openshift Origin CD hosted in datacenter CLC

Going to install cassandra cluster on AB and

[2019-02-22 18:14] michael-read opened #159 "Writing tags has failed ... Batch too large."
With the error:
[code]
It would be very helpful to know the size we're trying to write, and potentially the max. That way it would have some idea on how much to back off the `max-message-batch-size`from the default.

[2019-04-05 08:31] darshak28 commented on #15
@pwilby @krasserm  : I have one question regarding Journal writes. We are testing behaviour of write-retries and read-retries of Cassandra-journal and the question is whether it works as intended in-case of NoHostavailable exceptions? We are following below test steps and we are seeing journal writes fails. [since Persistent Actor dies]

**Scenario:**
1)Start the application (this will cause the k

[2019-04-05 09:34] krasserm commented on #15
@darshak28 this repo is not maintained any more. Please ask your questions at https://github.com/akka/akka-persistence-cassandra. Thanks!

[2019-04-05 10:00] darshak28 commented on #15
Sure..!! Thanks @krasserm